.hidden-320{
	display:none !important;
}
.visible-320{
	display:block !important;
}
.breadcrumb ul li a.bc_arrow span {
    padding-left: 20px !important;
    padding-right: 0 !important;
 }
 .breadcrumb ul li.breadcrumb_block2 a span {
    padding-left: 50px !important;
    padding-right: 25px !important;
 }
 .breadcrumb ul li.breadcrumb_block3 a span {
    padding-left: 48px !important;
    padding-right: 28px !important;
 }
 h1.panel-header{
	font-size:20px !important;
 }
  .md-btm-mob-5{
    margin-bottom: 5px !important;
 }
 .timed-out-img {
    float: right;
    margin-right: 20px;
 }
 .modal-dialog {
    width: 320px;
}

.promo-box-text{
   font-size: 1em !important;
}