.breadcrumb ul{ font-size:12px;}
.breadcrumb ul li a.bc_arrow span{ padding-right:20px; padding-left:20px;}
.breadcrumb ul li.breadcrumb_block2 a span{padding-left:70px; padding-right:30px;}


.breadcrumb ul li.breadcrumb_block3 a span{padding-left:65px; padding-right:40px;}

.forgotborder{ border-bottom:none!important;}

