img.arrow{
    left:41%;/* changed 12th june*/
}
	.md-pd-0-mobile{
	margin:0;
    padding:0;
}

.features-top-align{
padding-top:28px!important;	
}

.timed-out-img{
    float:right;
    margin-right: 20px;
}
.forgotborder{ border-bottom:none!important;}

.breadcrumb ul{ font-size:12px;}
.breadcrumb ul li a.bc_arrow span{ padding-right:0px!important; padding-left:10px!important;}
.breadcrumb ul li.breadcrumb_block2 a span{padding-left:35px!important; padding-right:0px!important;}
.breadcrumb ul li.breadcrumb_block3 a span{padding-left:30px!important; padding-right:10px!important;}

#save-quote h1{ font-size:1.5em}

.promo-box-text{
    font-size: 1em !important;
}
.timed-out-img {
	position: relative;
    top: 25px;
}
.features-table-header .rep{
	font-size: 11px !important;
	margin-left:-7px;
}
.modal-dialog {
    width: 300px;
}
.visible-320{
    display:block !important;
}
.hidden-320{
    display:none !important;
}
.breadcrumb ul li a.bc_arrow span {
    padding-left: 15px !important;
    padding-right: 0 !important;
}
.breadcrumb ul li.breadcrumb_block2 a span {
    padding-left: 45px !important;
    padding-right: 14px !important;
}
.breadcrumb ul li.breadcrumb_block3 a span {
    padding-left: 40px !important;
    padding-right: 17px !important;
}
.tesco-container .block-style .body .question .btn-group button {
    min-width: 85px;
    padding: 0;
}
 h1.panel-header{
	font-size:20px !important;
 }
 .md-btm-mob-5{
    margin-bottom: 5px !important;
 }
 .retrieve-quote-question{
    padding: 0px 10px !important;
 }