.pd-0-tab{
	padding:0 !important;
}

.pd-right-0-tab{ /* 30 june */
	padding-right:0;
}

.md-left-0-tab{
	margin-left:0;
}
.pd-top-22-tab{
	padding-top:22px;
}

.adj-tick-quote{
	padding-top:22px;
	padding-left:4px;
	padding-right:0px;
}

.pd-left-22{
	padding-left:22px;
}

.pd-top-22{
	padding-top:22px;
}

.selectboxit-container .selectboxit {
    width: 109px !important;
    min-width: 0px !important;
    min-height: 29px;
}
.breadcrumb ul li.breadcrumb_block2 a span, 
.breadcrumb ul li.breadcrumb_block3 a span {
	padding-left: 42px;
	padding-right: 20px;
}

