$body-font-size:1em; // 12 pt
$body-line-height:18pt;	

$h1-font-size:1.95em;  /*ashok changed h1 font size from 1.75 to 1.95 */    // 28px      
$h1-font-color:#144B94;
$h1-font-size-mobile: 1.45em;


$h2-font-size:1.5em;      // 24px
$h2-font-color:#4d4e4e;

$h3-font-size:1.16em;       // 14pt

$h4-font-size:0.99em;     	//12pt   

$h5-font-size:0.91em;       //11pt

$h6-font-size:0.62em;       //8pt or 10px


/* button specific variables */

$desktop-button-text-size:1.071em; //15px
$desktop-button-padding-left:10px;
$desktop-button-padding-right:10px;

$mobile-button-text-size:0.857em;  //12px

$desktop-number-button-text-size:0.857em;  //21px
$mobile-number-button-text-size:0.857em;  //19px

$desktop-action-button-text-size:1.2em;  //16px/* 17th june*/
$desktop-action-button-positive-text-size:1.5em;  //21px/* 17th june*/
$desktop-action-button-small-text-size:1.2em;  //16px/* 17th june*/
$mobile-action-button-text-size:1.143em;  //16px

$blue-font-color:#144B94;

/* table specific variables */

$quote-instruction-text-size:0.65em;
$quote-instruction-details-text-size:0.75em;
