$spacer-alpha-height:10px;

/* button specific variables */
$desktop-button-min-height:60px;
$mobile-button-min-height:50px;

$button-border-radius:5px;

$form-text-size:1.000em;  //15px/* changed 12th june*/


