.add-two-pets{
	background-image: url("../../images/you_can_add_upto_pets.png");
	background-repeat: no-repeat;
	height:40px;
	width:182px;
	margin: 0px 0 10px 0;
}

.joint-policy-holder{
	background-image: url("../../images/you_can_add_policy.png");
	background-repeat: no-repeat;
	height:46px;
	width:201px;
	margin: 0px 0 10px 0;
}

.about-your-policy{
	background-image: url("../../images/now_tell_us_about_policy.png");
	background-repeat: no-repeat;
	height:48px;
	width:140px;
	margin: 0px 0 10px 0;
}

.read-your-document{
	background-image: url("../../images/make_sure_you_read_doc.png");/*13 june*/
	background-repeat: no-repeat;
	height:42px;
	width:210px;
	margin: 0px 0 10px 0;
}

.how-would-like{
/*	background-image: url("../../images/how_would_like.png");/*13 june*/
	background-repeat: no-repeat;
	height:25px;
	width:240px;
	margin:15px 0px 5px 0px;
}

.check-your-details{
	background-image: url("../../images/check-your-details.png");/*13 june*/
	background-repeat: no-repeat;
	height:25px;
	width:210px;
	margin:30px 0px 5px 0px;
}

.select-your-cover{
	position: relative;
	left: 0;
}
.help{width:70%;}
/*.help:after{
  content: url("../../images/help_big.png");
position: absolute;
z-index: 100000;
top: 0%;
right: 0%;
padding: 10px;
border: 1px solid #D0DBEA;
border-bottom-left-radius:5px;
border-top: 0;
border-right: 0;
}*/