footer {
	padding:10px 0;
}

.full-width{
	min-width:100%;
}

.space{
	margin-top:25px;
	margin-bottom:5px;
}

.adj-chk-box{
	position: relative;
	bottom: 15px;
}

.width-0{
	width:0;
}

.width-145{
	width:145px !important;
}
.read-eligible{ /* 11 july*/
    font-weight:normal;
    margin-bottom: 20px;
    margin-left: 14px;
}
